<%= link_to 'Logout', logout_path, method: :delete %>
<div class="grd">
  <div class="grd-row">
    <div class="grd-row-col-3--sm">
    </div>
    <div class="grd-row-col-3-6--lg">
      <%= link_to 'Helpful Driver', root_path%>
    </div>
  </div>
</div>
<%= link_to 'Thankful Passenger', root_path %>
